html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#instruction {
    z-index: 99;
    position: absolute;
    top: 15px;
    left: 50%;
    padding: 5px;
    margin-left: -175px;
    height: 30px;
    width: 455px;
    text-align: center;
    background: rgba(25, 25, 25, 0.8);
    color: white;
}